<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/stylesheet.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">home</a>
                <a href="/blog">all blog posts</a>
                <!-- if/then for which links show depending on logged in  -->
                {% if "username" not in session %}
                <a href="/login">log in</a>
                <a href="/register">sign up</a>
                {% else %}
                <a href="/newpost">post a new entry</a>
                <a href="/logout">log out</a>
                {% endif %}
            </nav>
        </header>
        <hr />

        {% with messages = get_flashed_messages() %}
            <ul>
            {% for message in messages %}
                <li class="flashmessage">{{message}}</li>
            {% endfor %}
            </ul>
            
        {% endwith %}

        {% block content %}
        {% endblock %}

        <hr />
        <footer>
            <nav>
                <a href="/">home</a>
                <a href="/blog">all blog posts</a>
                <!-- if/then for which links show depending on logged in  -->
                {% if "username" not in session %}
                <a href="/login">log in</a>
                <a href="/register">sign up</a>
                {% else %}
                <a href="/newpost">post a new entry</a>
                <a href="/logout">log out</a>
                {% endif %}
            </nav>
        </footer>
    </body>
</html>