<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/stylesheet.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/blog">all blog posts</a>
                <a href="/newpost">post a new entry</a>
                <!-- TODO make if/then for which links show depending on logged in  -->
                <!-- {# if SIGNEDIN #} -->
                <a href="/login">log in</a>
                <a href="/register">sign up</a>
                <!-- {# else #} -->
                <a href="/logout">log out</a>
                <!-- {# endif #} -->
            </nav>
        </header>
        <hr />

        {% block content %}
        {% endblock %}

        <hr />
        <footer>
            <nav>
                <a href="/blog">all blog posts</a>
                <a href="/newpost">post a new entry</a>
                <!-- TODO make if/then for which links show depending on logged in  -->
                <!-- {# if SIGNEDIN #} -->
                <a href="/login">log in</a>
                <a href="/register">sign up</a>
                <!-- {# else #} -->
                <a href="/logout">log out</a>
                <!-- {# endif #} -->
            </nav>
        </footer>
    </body>
</html>