{% extends "base.html" %}

{% block content %}
    <h1>Blog Entries</h1>

    <hr />

    {% if entries|length == 0 %}
        <p>No blog entries yet.</p>
        <hr />

    {% else %}

        {% for entry in entries %}
            <h2><a href="/blog?id={{entry.id}}">{{entry.title}}</a></h2>
            <h3>{{entry.author.username}}</h3>
            <h4>{{entry.pub_date.date()}}</h4>
            <p>{{entry.body}}</p>
            <hr />
        {% endfor %}

    {% endif %}

    
{% endblock %}