{% extends "base.html" %}

{% block content %}

<h1>Log in!</h1>

<form action="/login" method="post">
    <table>
        <tr>
            <td class="label">
                <label for="username">Username:</label>
            </td>
            <td class="input">
                <input type="text" name="username" value="{{username}}" id="username" />
            </td>
            <td class="error">
                <span class="error">{{username_error}}</span>
            </td>
        </tr>
        <tr id="password-row">
            <td class="label">
                <label for="password">Password:</label>
            </td>
            <td class="input">
                <input type="password" name="password" value="{{password}}" id="password" />
            </td>
            <td class="error">
                <span class="error">{{password_error}}</span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Log in!" />
</form>

<p>New user? <a href="/register" role="button">Create an account!</a></p>

{% endblock %}