{% extends "base.html" %}

{% block content %}

<!-- directly copy/pasted from user-signup: -->

<h1>Register!</h1>

<form action="/register" method="post">
    <table>
        <tr>
            <td class="label">
                <label for="username">Username:</label>
            </td>
            <td class="input">
                <input type="text" name="username" value="{{username}}" id="username" />
            </td>
            <td class="error">
                <span class="error">{{username_error}}</span>
            </td>
        </tr>
        <tr>
            <td class="label">
                <label for="initial-password">Password:</label>
            </td>
            <td class="input">
                <input type="password" name="init_password" value="{{init_password}}" id="initial-password" />
            </td>
            <td class="error">
                <span class="error">{{init_password_error}}</span>
            </td>
        </tr>
        <tr>
            <td class="label">
                <label for="verify-password">Verify password:</label>
            </td>
            <td class="input">
                <input type="password" name="verify_password" value="{{verify_password}}" id="verify-password" />
            </td>
            <td class="error">
                <span class="error">{{verify_password_error}}</span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Sign Up!" />
</form>


{% endblock %}